.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 16rem;
    height: 360px;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(red, green, blue, alpha);
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 200px;
    display: block;
    background-color:purple;
}
.card:hover{
    background-color: rgb(255, 0, 0);
}

         .btn-grad {background-image: linear-gradient(to right, #000000 0%, #0f9b0f  51%, #000000  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

          .iklan{
    width: 32rem;
    border-radius: 12px;
    margin: 16px;
    border: 1px;
    overflow: hidden;
}
.iklan img{
    width: 100%;
    height: 250px;
    display: block;
    
}
.category{
    width: 4rem;
    border-radius: 100px;
    margin: 16px;
    overflow: hidden;
}
.category img{
    width: 90px;px;
    height: 70px;
    display: block;
    
}